<% provide(:title, '発注内容作成') %>

<section class="job-content" id="create-job-content">
  <div class="container">
    <div class="row">
      <div class="form col-md-8 col-md-offset-2">
        <div class="main-contents">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <%= form_for(@job_content, url: { controller: :job_contents, action: :create  })do |f| %>
                <h1>発注内容登録</h1>

                <div class="title">
                  <h3>発注タイトル</h3>
                  <%= render 'shared/error', object: f.object, field: :title %>
                  <%= f.text_field :title, class: 'form-control', placeholder: 'ex) WorkerBookのようなwebサービス開発', autocomplete: 'off' %>
                  <div class="title-info">
                    <p>
                      <strong>必須</strong><br>70文字以内で発注内容のタイトルをつけてください。
                    </p>
                  </div>
                </div>

                <div class="term">
                  <h3>期間</h3>
                  <div class="start-date">
                    <h4>開始予定日</h4>
                    <%= render 'shared/error', object: f.object, field: :start_date %>
                    <%= f.date_field :start_date, class: 'form-control' %>
                    <div class="start-date-info">
                      <p>
                        <strong>必須</strong><br>ワーカーとの契約の開始予定日を選択してください。
                      </p>
                    </div>
                  </div>

                  <div class="finish-date">
                    <h4>終了予定日</h4>
                    <%= render 'shared/error', object: f.object, field: :finish_date %>
                    <%= f.date_field :finish_date, class: 'form-control' %>
                    <div class="finish-date-info">
                      <p>
                        <strong>必須</strong><br>ワーカーとの契約の終了予定日を選択してください。
                      </p>
                    </div>
                  </div>
                </div>

                <div class="content">
                  <h3>発注詳細内容</h3>
                  <p>詳細な発注内容を記述してください</p>
                  <%= render 'shared/error', object: f.object, field: :content %>
                  <%= f.text_area :content, class: 'form-control', placeholder: 'ex) ', cols: 45, rows: 18, maxlength: 3000 %>
                  <div class="content-info">
                    <p>
                      <strong>必須</strong><br>具体的な発注内容を記述してください。ワーカーが一番気になる項目です。
                    </p>
                  </div>
                </div>

                <div class="skill-seeking">
                  <h3>必要とするスキル</h3>
                  <p>ワーカーに求めるスキルを選択してください</p>
                  <%= render 'shared/error', object: f.object, field: :skill_list %>
                  <div class="input-skills">
                    <ul id="job-content-skill-field">
                    </ul>
                  </div>
                  <div class="skill-seeking-info">
                    <p>
                      <strong>必須</strong><br>ワーカーに求めるスキルを選択してください。10コまで選択可能です。
                    </p>
                  </div>
                </div>

                <div class="experience-seeking">
                  <h3>求めている経験値</h3>
                  <p>ワーカーに求める経験値を記述してください</p>
                  <%= render 'shared/error', object: f.object, field: :note %>
                  <%= f.text_area :note, class: 'form-control', placeholder: 'ex) ', cols: 45, rows: 18, maxlength: 1000 %>
                  <div class="experience-seeking-info">
                    <p>
                      <strong>必須</strong><br>ワーカーに求める経験値を具体的に記述してください。
                    </p>
                  </div>
                </div>
                <%= f.submit '発注内容登録', class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
