
<%= form_for(@worker_profile, url: { controller: :worker_profiles, action: :"#{action}" }, html: { multipart: true })do |f| %>

<h2>強み・特徴</h2>
<!-- type -->
<div class="select-type">
  <h3>デベロッパータイプ</h3>
  <%= render 'shared/error', object: f.object, field: :type %>
  <p class="warning">4つまで選択可能です。</p>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <label class="label-checkbox">
        <%= f.check_box :type_web_developer, class: 'dev-type-check' %>
        <span class="lever">Web Developer</span>
      </label>
      <label class="label-checkbox">
        <%= f.check_box :type_mobile_developer, class: 'dev-type-check' %>
        <span class="lever">Mobile Developer</span>
      </label>
      <label class="label-checkbox">
        <%= f.check_box :type_game_developer, class: 'dev-type-check' %>
        <span class="lever">Game Developer</span>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <label class="label-checkbox">
        <%= f.check_box :type_desktop_developer, class: 'dev-type-check' %>
        <span class="lever">DesktopSoftware Developer</span>
      </label>
      <label class="label-checkbox">
        <%= f.check_box :type_ai_developer, class: 'dev-type-check' %>
        <span class="lever">AI Developer</span>
      </label>
      <label class="label-checkbox">
        <%= f.check_box :type_qa_testing, class: 'dev-type-check' %>
        <span class="lever">QA & Testing</span>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <label class="label-checkbox">
        <%= f.check_box :type_web_mobile_desiner, class: 'dev-type-check' %>
        <span class="lever">Web&Mobile Designer</span>
      </label>
      <label class="label-checkbox">
        <%= f.check_box :type_project_maneger, class: 'dev-type-check' %>
        <span class="lever">Project Maneger</span>
      </label>
      <label class="label-checkbox">
        <%= f.check_box :type_other, class: 'dev-type-check' %>
        <span class="lever">Other</span>
      </label>
    </div>
  </div>
</div><!-- .select-type -->
<!-- skill -->
<div class="select-skill">
  <h3>スキル・プログラミング言語</h3>
  <p>専門スキル・プログラミング言語を選択してください。５-10まで選択可能です。</p>
  <%= render 'shared/error', object: f.object, field: :skill_list %>
  <div class="input-skills">
    <ul id="worker-skill-field">
    </ul>
  </div>
  <p class="skill-max-warning">プロフィールに追加できるスキル・プログラミング言語は10までです。</p>
  <p class="skill-minimum-warning">最低でも５つのスキル・プログラミング言語を選択してください。</p>
</div><!-- .select-skill-->
<!-- availability -->
<div class="select-availability">
  <h3>１週間の平均的稼働時間</h3>
  <p>１週間の平均稼働時間を選択してください。</p>
  <label class="label-radio">
    <%= f.radio_button :availability, :limited %> <span class="lever"><%= t("enums.workers.profile.availability.limited") %></span>
  </label>
  <label class="label-radio">
    <%= f.radio_button :availability, :full %> <span class="lever"><%= t("enums.workers.profile.availability.full") %></span>
  </label>
  <label class="label-radio">
    <%= f.radio_button :availability, :hard %> <span class="lever"><%= t("enums.workers.profile.availability.hard") %></span>
  </label>
</div><!-- .select-availability -->
<!-- past performance -->
<div class="type-past-performance">
  <h3>過去実績・制作物</h3>
  <%= render 'shared/error', object: f.object, field: :past_performance %>
  <p class="past-performance-warning">今までに開発したものや、ポートフォリオ等のURLを記述してください。</p>
  <div class="url-field">
    <%= f.url_field :past_performance1, class: 'form-control past-performance1', placeholder: 'URL', autocomplete: 'off' %>
    <%= f.url_field :past_performance2, class: 'form-control past-performance2', placeholder: 'URL', autocomplete: 'off', disabled: true %>
    <%= f.url_field :past_performance3, class: 'form-control past-performance3', placeholder: 'URL', autocomplete: 'off', disabled: true %>
    <%= f.url_field :past_performance4, class: 'form-control past-performance4', placeholder: 'URL', autocomplete: 'off', disabled: true %>
  </div>
</div><!-- .type-past-performance -->
<!-- unit price -->
<div class="type-unit-price">
  <h3>人日単価</h3>
  <p>あなた自身の人日単価を記述してください。これが基本報酬金額になります。</p>
  <div class="row">
    <div class="sub-title col-xs-12 col-md-4">
      <p>基本人日単価</p>
    </div>
    <div class="price col-xs-12 col-md-8">
      <p>
        <span>¥</span>
        <%= f.text_field :unit_price, placeholder: '30,000', autocomplete: 'nope', class: 'form-control', id: 'input-price' %>
        <span>/人日単価</span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="sub-title col-xs-12 col-md-4">
      <p>手数料</p>
    </div>
    <div class="price col-xs-12 col-md-8">
      <p>¥<span class="view-box" id="service-charge">1,500</span>/人日単価</p>
    </div>
  </div>
  <div class="row">
    <div class="sub-title col-xs-12 col-md-4">
      <p>受け取り金額</p>
    </div>
    <div class="price col-xs-12 col-md-8">
      <p>¥<span class="view-box" id="receive-day">28,500</span>/人日単価</p>
    </div>
  </div>
  <div class="row">
    <div class="sub-title col-xs-12 col-md-4">
      <p>受け取り金額</p>
    </div>
    <div class="price col-xs-12 col-md-8">
      <p>¥<span class="view-box" id="receive-month">627,000</span>/人月単価</p>
      <span>* 人月日数は22日とします。</span>
    </div>
  </div>
</div><!-- .type-unit-price -->
<!-- note -->
<div class="type-note">
  <h3>仕事に対する思い、スキルアピール</h3>
  <%= render 'shared/error', object: f.object, field: :appeal_note %>
  <p>スキル、経験、仕事に対する思いを400文字以上で記述してください。クライアントへのアピールポイントです。</p>
  <% if @worker_profile.appeal_note %>
    <%= f.text_area :appeal_note, class: 'form-control appeal-note', cols: 45, rows: 18, maxlength: 3000 %>
  <% else %>
    <%= f.text_area :appeal_note, class: 'form-control appeal-note', value: I18n.t('views.worker_profile.appeal_example'), cols: 45, rows: 18, maxlength: 3000 %>
  <% end %>
  <p class="help-block">*3000文字まで記述可能です。<span class="count-charcters">0</span></p>
</div><!-- .type-note -->
<!-- picture -->
<div class="upload-picture">
  <h2>その他のプロフィール</h2>
  <h3>画像アップロード</h3>
  <%= render 'shared/error', object: f.object, field: :picture %>
  <div class="row">
    <%= f.label :picture, class: 'col-xs-6 col-md-4' do %>
    <div class="worker-picture">
      <% if @worker_profile.picture.blank? %>
      <%= image_tag 'static_pages/sign_up/worker.png', id: 'preview' %>
      <% else %>
      <%= image_tag @worker.profile.picture_url, id: 'preview' %>
      <% end %>
    </div>
    <p class="upload">Add a photo</p>
    <%= f.file_field :picture , accept: 'image/jpeg, image/jpg, image/gif, image/png', class: 'picture-upload' %>
    <%= f.hidden_field :picture_cache %>
    <% end %>
    <div class="col-xs-6 col-md-8">
      <p class="mess">
        あなたの一番ベストな顔写真をアップロードしてください。
        クライアントへの信頼につながります。
      </p>
    </div>
  </div>
</div><!-- .upload-picture -->
<!-- location -->
<div class="select-location">
  <h3>拠点</h3>
  <%= f.select :location, Prefecture.options %>
</div><!-- .select-location -->
<!-- employment history -->
<div class="type-history">
  <h3>職歴</h3>
  <p>今までに勤めていた会社等あれば追加してください。もし、最初からフリーランスとして活躍しているのであれば「フリーランスのみ」と記述しください。</p>
  <%= render 'shared/error', object: f.object, field: :employment_history%>
  <div class="company-name-field">
    <%= f.text_field :employment_history1, placeholder: '会社名', class: 'form-control employment-history1', autocomplete: 'off' %>
    <%= f.text_field :employment_history2, placeholder: '会社名', class: 'form-control employment-history2', autocomplete: 'off', disabled: true %>
    <%= f.text_field :employment_history3, placeholder: '会社名', class: 'form-control employment-history3', autocomplete: 'off', disabled: true %>
    <%= f.text_field :employment_history4, placeholder: '会社名', class: 'form-control employment-history4', autocomplete: 'off', disabled: true %>
  </div>
</div><!-- .type-history -->
<!-- currently freelance -->
<div class="check-currently check-box">
  <label class="label-checkbox">
    <%= f.check_box :currently_freelancer %>
    <span class="lever">私は現在フリーランサーです。</span>
  </label>
</div><!-- .check-currently .check-box -->
<!-- active -->
<div class="check-active check-box">
  <label class="label-checkbox">
    <%= f.check_box :active %>
    <span class="lever">今すぐ受注可能です。</span>
  </label>
  <span class="notice">*他の案件等で忙しい場合はチェックを外してください。</span>
  <span class="notice">*あとで変更することも可能です。</span>
</div><!-- .check-active .check-box -->
<%= f.submit "#{button}", class: "btn btn-primary create-worker-profile" %>
<% end %>
