<% provide(:title, 'Create client profile') %>

<section class="clients-profile profile" id="client-profile">
  <div class="container">
    <div class="row">
      <div class="form col-md-8 col-md-offset-2">
        <div class="welcom-msg">
          <h2><%= @client.username %>さん　Welcome to WorkerBook!</h2>
          <p>
            この度はWorkerBookにご登録いただきありがとうございます。<br>ワーカーへ仕事を発注するにはプロフィールを登録していただく必要がございます。
          </p>
        </div>
        <div class="main-contents">
          <h1>Create Profile</h1>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <%= form_for(@client_profile, html: { multipart: true })do |f| %>
                <div class="corporate-site">
                  <h3>会社サイト</h3>
                  <%= render 'shared/error', object: f.object, field: :corporate_site %>
                  <div class="url-field">
                    <%= f.url_field :corporate_site, class: 'form-control', placeholder: 'コーポレートサイトURL', autocomplete: 'off' %>
                  </div>
                </div>

                <div class="logo">
                  <h3>会社ロゴ</h3>
                  <%= render 'shared/error', object: f.object, field: :logo %>
                  <div class="row">
                    <div class="logo-img col-md-4">
                      <%= image_tag 'worker_profiles/no_picture.png', alt: "NO LOGO", class: 'img-size upload-link' %>
                    </div>
                    <div class="col-md-8">
                      <p class="mess">
                        会社のロゴをアップロードしてください。<br>ワーカーに信頼を与えましょう。
                      </p>
                      <p class="upload upload-link">Upload photo</p>
                    </div>
                  </div>
                  <div id="modal-content" class="preview">
                    <%= f.file_field :logo , accept: 'image/jpeg, image/jpg, image/gif, image/png', class: 'img-upload' %>
                  </div>
                </div>

                <%= f.submit "詳細登録", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
