<li class="dropdown">
  <a href="#" calss="dropdown-toggle" data-toggle="dropdown">
    <span class="glyphicon glyphicon-menu-hamburger"></span><%= current_user.username %>
  </a>
  <ul class="dropdown-menu">
    <% if worker_profile_present? %>
      <li><%= link_to 'WBチャット', '/chat/messages/@notification' %></li>
      <li><%= link_to "Profile", worker_path(username: current_user.username) %></li>
      <li><%= link_to "Settings", worker_settings_account_path(username: current_user.username) %></li>
    <% else %>
      <li><%= link_to "Delete Account", retire_worker_path(username: current_user.username) %></li>
    <% end %>
  </ul>
  <li>
    <%= link_to sign_out_path do %>
      <span class="glyphicon glyphicon-log-out"></span>Sign out
    <% end %>
  </li>
</li>
