<div class="title">
  <h3>発注タイトル</h3>
  <p>70文字以内で発注内容のタイトルをつけてください。</p>
  <%= render 'shared/error', object: f.object, field: :title %>
  <%= f.text_field :title, class: 'form-control', placeholder: 'ex) WorkerBookのようなwebサービス開発', autocomplete: 'off' %>
</div>

<div class="term">
  <h3>期間</h3>
  <div class="start-date">
    <h4>開始予定日</h4>
    <p>ワーカーとの契約の開始予定日を選択してください。</p>
    <%= render 'shared/error', object: f.object, field: :start_date %>
    <%= f.date_field :start_date, class: 'form-control' %>
  </div>

  <div class="finish-date">
    <h4>終了予定日</h4>
    <p>ワーカーとの契約の終了予定日を選択してください。</p>
    <%= render 'shared/error', object: f.object, field: :finish_date %>
    <%= f.date_field :finish_date, class: 'form-control' %>
  </div>
</div>

<div class="content">
  <h3>発注詳細内容</h3>
  <p>詳細な発注内容を記述してください。ワーカーが一番注目する項目です。</p>
  <%= render 'shared/error', object: f.object, field: :content %>
  <% if @job_content.content %>
    <%= f.text_area :content, class: 'form-control', cols: 45, rows: 18, maxlength: 3000 %>
  <% else %>
    <%= f.text_area :content, class: 'form-control', value: I18n.t('views.job_content.example'), rols: 45, rows: 18, maxlength: 3000 %>
  <% end %>
</div>

<div class="skill-seeking">
  <h3>必要とするスキル</h3>
  <p>ワーカーに求めるスキルを選択してください。</p>
  <%= render 'shared/error', object: f.object, field: :skill_list %>
  <div class="input-skills">
    <ul id="job-content-skill-field">
    </ul>
  </div>
</div>

<div class="experience-seeking">
  <h3>求めている経験値</h3>
  <p>ワーカーに求める経験値を具体的に記述してください。</p>
  <%= render 'shared/error', object: f.object, field: :note %>
  <% if @job_content.note %>
    <%= f.text_area :note, class: 'form-control', cols: 45, rows: 18, maxlength: 1000 %>
  <% else %>
    <%= f.text_area :note, class: 'form-control', value: I18n.t('views.job_content.experience_seeking_example'), cols: 45, rows: 18, maxlength: 1000 %>
  <% end %>
</div>
