<% provide(:title, 'ワーカー一覧') %>

<section class="worker-list">
  <div class="container">
    <div class="row">
      <div class="search-body col-md-8 col-md-offset-2">
        <%= form_tag(workers_path, method: :get, enforce_utf8: false, class: 'search-form') do %>
        <div class="search-skill">
          <ul id="type-skill" class="input-text">
          </ul>
        </div>
        <div class="search-type">
          <%= select_tag :type, options_for_select(DeveloperType.name, selected: @developer_type), { prompt: 'デベロッパータイプ', class: 'select' } %>
        </div>
        <div class="search-budget">
          <%= select_tag :unit_price, options_for_select(WorkerProfile.unit_price_classes.invert, selected: @unit_price), { prompt: '予算額', class: 'select' } %>
        </div>
        <%= submit_tag 'Search', name: nil, class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
    <div class="workers-info">
      <h1>Worker List</h1>

      <% if @worker_profiles.present? %>
        <div class="list row">
          <% @worker_profiles.each do |profile| %>
            <% if profile.active? %>
              <%= link_to worker_path(username: profile.worker.username), class: 'col-md-3 col-xs-12' do %>
                <div class="worker">
                  <div class="row section">
                    <div class="face">
                      <%= image_tag profile.picture_url %>
                    </div>
                    <div class="info">
                      <h2><%= profile.worker.last_name %> <%= profile.worker.first_name %></h2>
                      <h3>@<%= profile.worker.username %></h3>
                      <table>
				                <tbody>
                          <tr>
                            <td class="key">人日単価</td>
                            <td class="value">¥<%= profile.unit_price %></td>
                          </tr>
                          <tr>
                            <td class="key">人月単価</td>
                            <td class="value">¥<%= profile.unit_price * 22 %></td>
                          </tr>
                          <tr>
                            <td class="key">稼働時間/週</td>
                            <td class="value"><%= t("enums.workers.profile.availability.#{profile.availability}") %></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <div class="strength col-md-12 col-xs-12">
                      <ul class="developer-types">
                        <p>Developer Types & Skills</p>
                        <% developer_type_list(profile).each do |type| %>
                          <li><%= t("worker_profile.developer_type.#{type}") %></li>
                        <% end %>
                      </ul>
                      <ul class="skills">
                      <% profile.skill.each do |skill| %>
                        <li><%= skill.name %></li>
                      <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="paginate">
          <%= paginate @worker_profiles, outer_window: 3 %>
        </div>
      <% else %>
        <h2 class="not-worker-mess">要件にあったワーカーはございません</h2>
      <% end %>
    </div>
  </div>
</div>
