<% provide(:title, 'Sign up') %>

<section class="new-page" id="workers-signup">
  <div class="container">
    <div class="row">
      <div class="form col-md-8 col-md-offset-2">
        <h1>フリーランスアカウント</h1>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <%= render 'shared/worker_step_bar', { first: 'complete', second: '' } %>
            <h2>アカウント情報登録</h2>
            <div class="signup-form">
              <%= form_for @worker do |f| %>
                <div class="last-name-form comn-form">
                  <%= f.text_field :last_name, class: 'form-control last-name-form', placeholder: I18n.t('views.common.sign_up.last_name'), autocomplete: 'off' %>
                  <%= render 'shared/error', object: f.object, field: :last_name %>
                </div>

                <div class="first-name-form comn-form">
                  <%= f.text_field :first_name, class: 'form-control first-name-form', placeholder: I18n.t('views.common.sign_up.first_name'), autocomplete: 'off' %>
                  <%= render 'shared/error', object: f.object, field: :first_name %>
                </div>

                <div class="username-form comn-form">
                  <%= f.text_field :username, class: 'form-control username-form', placeholder: I18n.t('views.common.sign_up.username'), autocomplete: 'off' %>
                  <%= render 'shared/error', object: f.object, field: :username %>
                </div>

                <div class="email-form comn-form">
                  <%= f.email_field :email, class: 'form-control email-form', placeholder: I18n.t('views.common.sign_up.email'), autocomplete: 'off' %>
                  <%= render 'shared/error', object: f.object, field: :email %>
                </div>

                <div class="password-form comn-form">
                  <%= f.password_field :password, class: 'form-control password-form', placeholder: I18n.t('views.common.sign_up.password'), autocomplete: 'off' %>
                  <%= render 'shared/error', object: f.object, field: :password %>
                </div>

                <div class="confirmation-form comn-form">
                  <%= f.password_field :password_confirmation, class: 'form-control confirmation-form', placeholder: I18n.t('views.common.sign_up.confirmation'), autocomplete: 'off' %>
                  <%= render 'shared/error', object: f.object, field: :password_confirmation %>
                </div>

                <%= f.submit "アカウント作成", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
