<footer class="footer">
  <div class="text-box">
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Company', 'http://lobo-inc.com' %></li>
      <li><%= link_to 'PrivacyPolicy', '#' %></li>
      <li><%= link_to '利用規約', '#' %></li>
    </ul>
  </div>
  <div class="sns-links">
    <%= link_to '#' do %>
      <%= image_tag 'footer/sns/twitter-logo.png', class: 'twitter' %>
    <% end %>
    <%= link_to '#' do %>
      <%= image_tag 'footer/sns/fb-logo.png', class: 'sns-img' %>
    <% end %>
    <%= link_to '#' do %>
      <%= image_tag 'footer/sns/instagram-logo.png', class: 'sns-img' %>
    <% end %>
  </div>
  <p class="copyright">©︎ 2017 Lobo Inc.</p>
</footer>
