<footer class="footer">
  <div class="text-box">
    <div class="footer-col">
      <ul>
        <li>
          <%= link_to root_path do %>
            <span>トップページ</span>
          <% end %>
        </li>
        <li>
          <%= link_to workers_path do %>
            ワーカーを探す
          <% end %>
        </li>
        <li>
          <%= link_to sign_up_path do %>
            WorkerBookを始める
          <% end %>
        </li>
      </ul>
    </div>
    <div class="footer-col">
      <ul>
        <li>
          <%= link_to how_it_works_path do %>
            初めての方
          <% end %>
        </li>
        <li>
          <%= link_to guideline_path do %>
            仕事依頼ガイド
          <% end %>
        </li>
        <li>
          <%= link_to '#' do %>
            お問い合わせ
          <% end %>
        </li>
        <li>
          <%= link_to privacy_policy_path do %>
            <span>プライバシーポリシー</span>
          <% end %>
        </li>
        <li>
          <%= link_to terms_path do %>
            <span>利用規約</span>
          <% end %>
        </li>
        <li>
          <%= link_to 'http://lobo-inc.com' do %>
            <span>Lobo Inc.</span>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="footer-col">
      <ul>
        <li>
          <%= link_to 'https://twitter.com/WorkerBook_jp', target: ["_blank"] do %>
            <%= image_tag 'footer/sns/twitter-logo.png', class: 'sns-img' %>
            Twitter
          <% end %>
        </li>
        <li>
          <%= link_to 'https://www.instagram.com/workerbook/', target: ["_blank"] do %>
            <%= image_tag 'footer/sns/instagram-logo.png', class: 'sns-img' %>
            instagram
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    <p>©︎ 2017 Lobo Inc.</p>
    <p class='service-title'>WorkerBook - ITフリーランスのためのクラウドソーシングサービス</p>
  </div>
</footer>
