<header class="intro">
  <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="row">
        <div class="navbar-header">
          <h1><%= link_to 'WorkerBook(α)', root_path, id: 'top' %></h1>

          <button type="button" class="navbar-toggle cllapsed" data-toggle="collapse" data-target="#header-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

          <div class="collapse navbar-collapse" id="header-navbar" role='navigation'>
            <ul class="nav navbar-nav navbar-right">
              <% if signed_in? %>
                <% if user_type(current_user) == 'worker' %>
                  <%= render 'layouts/worker/menue' %>
                <% elsif user_type(current_user) == 'client' %>
                  <%= render 'layouts/client/menue' %>
                <% end %>
              <% else %>
                <li>
                  <%= link_to sign_in_path do %>
                    <span class="glyphicon glyphicon-log-in"></span>Sign in
                  <% end %>
                </li>
                <li>
                  <%= link_to sign_up_path do %>
                    <span class="glyphicon glyphicon-pencil"></span>Sign up
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
      </div>
    </div>
  </div>
</header>
