<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= include_gon(init: true) %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= analytics_init if Rails.env.production? %>
    <%= render 'layouts/shim' %>
  <head>

  <body>
    <%= render 'layouts/header' %>
    <section clas="main-body">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>" >
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </section>
    <%= render 'layouts/footer' %>
  </body>
</html>
